@import "tailwindcss";

@font-face {
	font-family: "sugar";
	src: url("/fonts/sugar/sugar.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.sugar {
	font-family: "sugar", sans-serif;
}
